.table thead th {
    background-color: #343a40;
    color: #ffffff;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.table tbody tr:hover {
    background-color: #e9ecef;
}

/* Responsive styles for screens up to 600px */
@media only screen and (max-width: 600px) {
    /* Adjust styles for small screens */
    .table th,
    .table td {
        box-sizing: border-box;
        width: 100% !important; /* Set width to 100% for both header and body cells */
    }

    .table thead th {
        font-size: 14px !important;
    }

    .table tbody tr {
        margin-bottom: 10px !important;
        border: 1px solid #ddd !important;
    }

    .dataTables_wrapper {
        width: 70%;
    }
}

.table{
    font-family: Verdana;
}

#roomTable_paginate, #dataTables_info, #roomTable_length{
    font-family: Verdana;
}
